  //pagina-inicial
  .sombra{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);   
  }
  
  .fonte_familia {
    font-family: "Roboto","Lato", "Montserrat"
  }

  .ponta-redonda{
    border-radius: 0.2rem;
  }

  .tamanho-select{
    height: 38px;
  }


//login
.borda-branca {
  border: solid white 1px; 
}

.borda-redonda {
  border-radius: 1rem;
}

.letra-branca{
  color: white;
}
  
//scroll tabelas
.divstyle {
  overflow-y: scroll;
  width: 480px;
  float: left;
  height: 400px;
  position: relative;
}
