.paginaInicial {
  background-image: url("../../../video/Fundo.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 93.5vh;

  .container {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 40%;

    .pesquisar {
      margin: 100px 25% 1em;
      width: 50%;
      border-radius: 25px;
      padding: 0px 20px 0px 10px;
      font-size: 25px;
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5;
      border: none;
    }
    .pesquisar:hover {
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aranha,
  .borboleta,
  .formiga {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  .frase {
    color: #000000;
    font-size: 20px;
    font-family: "Shadows Into Light", "Roboto", "Poppins", sans-serif;
    text-align: justify;
    padding: 20px;
  }
}

//login
#page-auth {
  display: flex;
  align-items: stretch;
  height: 1043px;

  .lado_esquerdo {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkcyan;
    align-items: center;
    padding: 10px;

    .boasvindas {
      font-size: 50px;
      text-align: center;
      color: #fff;
      font-family: "Shadows Into Light", "Roboto", "Poppins", sans-serif;
    }

    .img_login {
      object-fit: cover;
      width: 40rem;
    }
  }

  main {
    background-image: linear-gradient(to right, #008b8b, #40e0d0);
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  .formulario {
    border: 1px solid;
    padding: 40px;
    box-shadow: 0px 10px 10px 0 rgba($color: #000000, $alpha: 0.3);

    .titulo_form {
      font-size: 50px;
      margin-bottom: 30px;
      color: #fff;
      font-family: "Shadows Into Light", "Roboto", "Poppins", sans-serif;
    }

    .input {
      font-family: "Shadows Into Light";
      border-radius: 25px;
      margin-bottom: 10px;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .formulario:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 3s ease-in-out;
  }

  .botao_submit {
    font-family: "Shadows Into Light";
    background: #57b846;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    padding: 0 25px;
    transition: all 0.4s;
    border: none;
  }
}

//scroll tabelas
.divstyle {
  overflow-y: scroll;
  width: 480px;
  float: left;
  height: 400px;
  position: relative;
}
